h1 {
	margin-bottom: 5%;
	margin-left: 90px;
	padding-bottom: 5%;
	font-family: 'Oswald', sans-serif;
	font-size: 92px;
	color: #485151;
	font-weight: bold;
	text-shadow: 1px 1px 2px white;
}

.panel-heading {

}

p {
	color: #485151
	font-family: 'Cinzel', serif;
	font-size: 24px;
	margin-bottom: 3%;
}

img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 25px;
	box-shadow: 3px 2px 2px gray;
}

body {
	background: -webkit-linear-gradient(top, #d2dfed 0%,#c8d7eb 16%,#c8d7eb 16%,#a6c0e3 29%,#a6c0e3 29%,#a6c0e3 29%,#bed0ea 45%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%) fixed;
	background-repeat: no-repeat;

}

#friendsTable {
	margin-top: 3%;

}

.add-contact {
	float: right;

}
.addie {
	margin-bottom: -90px;
    -webkit-transform: rotate(-30deg);
    box-shadow: none;
}
.text-muted {
	font-size: 18px;
	margin-left: 15px;
	margin-top: 15px;
}

.panel-heading {
	font-size: 22px;
	color: #485151;
	font-weight: bold;

}

.container-fluid {
	margin: 3%;
	padding-bottom: 20%;

}

.rowTemplate {
	display: none;
}

.table {
	font-style: italic;
	font-weight: bold;	
}

.tableHead {
	background-color: #C2F2D6;
}

th {
	font-style: none;
	color: #696969;
	

}

span {
	color: #799be8;
}

#friendsTable {
	box-shadow: 10px 5px 5px gray;
	color: #485151;
}
.btn-success {
	box-shadow: 5px 3px 3px gray;
}

